    /* General Styles */
    body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}












/* Admin Login & Signin */

.verif_body{
    display: flex;
    flex-direction: column;   
    align-items: center;      
}
.verif_body h1{
    color: #67140a;
    font-size: 50px;
    text-align: center;
}

.card{
    background-color: rgba(205, 34, 34, 0.5); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    width: 500px;
    height: 500px;
    color: #912e2e;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
  }  
  
form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;    
}
form label {
    margin: -10px 0 10px 40px;/* top right bottom left */
}
form input[type="text"],
form input[type="password"],
form input[type="email"] {
    padding: 10px;
    border: 2px solid #912e2e;
    border-radius: 6px;
    width: 25em;
    align-self: center;
}
  form input[type="submit"] {
    background-color: #912e2e;
    color: white;
    font-weight: 600;
    width: 15em;
    padding: 12px;
    margin-top: -1em;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-self: center;
  } 
  form input[type="submit"]:hover {
  background-color: transparent;
  border: 2px solid #912e2e;
  color: #912e2e;
  padding: 10.5px;
  }
  form select{
    padding: 10px;
    border: 2px solid #912e2e;
    border-radius: 6px;
    width: 25em;
    align-self: center;
  }
  form p{
    text-align: center;
  }
  .trylogin, .trysignin{
    text-align: center;
  }
  
  